[Unit]
Description=Secret key management for GnuPG
IgnoreOnIsolate=true

[Service]
Type=forking
Environment=GPG_ENV=%h/.gnupg/gpg-agent.env
ExecStart=/usr/bin/gpg-agent --daemon --enable-ssh-support --use-standard-socket --write-env-file ${GPG_ENV}
ExecStartPost=/bin/sh -c "xargs systemctl --user set-environment < ${GPG_ENV}"
ExecStopPost=/bin/rm ${GPG_ENV}
Restart=on-abort

[Install]
WantedBy=multi-user.target
