[Unit]
Description=Multimonitor detection
After=graphical.target

[Service]
ExecStart=/home/thomas/multimon.py
ExecStartPost=/usr/bin/nitrogen --restore

[Install]
WantedBy=graphical.target
